<div id="effects-tabs-container" class="effects-tabs">
    <div class="effects-tab-bar">
        <button type="button"
                class="effects-tab {% if user_settings.active_tab == 'audio' or not user_settings.active_tab %}active{% endif %}"
                hx-get="/partials/effects-tab/audio"
                hx-target="#effects-tab-content"
                hx-swap="innerHTML"
                hx-vals="js:{filename: window.currentFilename || ''}">
            <i class="fa-solid fa-music"></i> Audio
        </button>
        <button type="button"
                class="effects-tab {% if user_settings.active_tab == 'video' %}active{% endif %}"
                hx-get="/partials/effects-tab/video"
                hx-target="#effects-tab-content"
                hx-swap="innerHTML"
                hx-vals="js:{filename: window.currentFilename || ''}">
            <i class="fa-solid fa-video"></i> Video
        </button>
    </div>
    <div id="effects-tab-content" class="effects-tab-content">
        {% if user_settings.active_tab == 'video' %}
            {% include "partials/effects_video_accordion.html" %}
        {% else %}
            {% include "partials/effects_audio_accordion.html" %}
        {% endif %}
    </div>
</div>
